.button {
  display: flex;
  border-radius: 10px;
  /* background-color: rgb(214, 214, 214); */
  background-color: rgb(0, 0, 0);
  justify-content: center;
  box-shadow: none;
  padding: 0px;
  margin: 8px;
  user-select: none;
  cursor: pointer;
  height: 10rem;
  text-align: center;
  align-content: center;
  background-position: center;
  background-size: cover;
  background-size: 100%;
}

.button:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1s box-shadow ease-in-out;
  transition: background-size ease-in-out 0.4s;
  background-size: 110%;
}

.ptext {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  color: white;
  height: max-content;
  font-weight: 800;
  letter-spacing: 2px;
}
