.card {
  /* min-width: 18rem;
  max-width: 18rem; */
  width: 18rem;
  height: 23rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
  overflow-y: hidden;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

/* .card:hover {
  top: -4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.imagediv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 285px;
}

.image {
  padding: 15px;
  border-radius: 20px;
  min-width: 18rem;
  min-height: 12rem;
  max-width: 100%;
  max-height: 16rem;
  object-fit: contain;
}

.cardtitle {
  font-size: 12px;
  margin-bottom: 0px;
}

.cardtext {
  font-size: 14px;
  margin-bottom: 0px;
  color: black;
}

.textalignright {
  text-align: right;
}

/* .cardbody {
  padding: 0 15px 0 15px;
} */

.collectiblesButton {
  background-color: rgb(245, 191, 111);
}

.collectiblesButton:hover {
  background-color: rgb(235, 161, 51);
}

.buttons {
  justify-content: center;
  display: flex;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 18rem;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.profileHover:hover {
  top: -4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px px 0 rgba(0, 0, 0, 0.19);
}

.aTag:hover {
  text-decoration: underline;
}

.coinicon {
  width: 1rem;
  height: 1rem;
  margin-right: 3px;
}
