.pricediv {
  font-size: 20px;
  border-radius: 10px;
  /* background-color: #beedff; */
  /* border: 2px solid #00abee71; */
  padding: 15px;
}

.collection {
  color: #6181e4;
}

.pricetext {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1px;
  padding-top: 0.7rem;
}

.imagediv {
  border: 2px solid #e5e8eb;
  border-radius: 5px;
  /* max-height: 30rem; */
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
  max-width: 35rem;
  /* max-height: 100%;  */
  width: -webkit-fill-available;
  max-height: 30rem;
  object-fit: contain;
  /* max-width: min-content; */
}

.buttonOnList {
  width: 12rem;
  border-radius: 20px;
  background-color: rgb(25, 50, 165);
  padding: 0.6rem 0;
  font-weight: 600;
}

.buttonDeList {
  width: 12rem;
  border-radius: 20px;
  border-color: none;
  padding: 0.6rem 0;
  font-weight: 600;
}

.buttonBuy {
  width: 12rem;
  border-radius: 20px;
  background-color: rgb(25, 50, 165);
  padding: 0.6rem 0;
  font-weight: 600;
  margin-top: 20px;
}

.coinicon {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
  margin-bottom: 5px;
}
