.sidebar {
  width: 19rem;
}

.sidebarcolumn {
  padding: 0px;
  overflow-y: auto;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
  border-radius: 0px;
  border-bottom: none;
  border-right: none;
}
