.page {
  overflow: hidden;
  height: 100vh;
}

.column {
  padding: 0px;
}

.jumbotron {
  background-image: linear-gradient(
    to bottom right,
    rgba(143, 224, 111, 0.829),
    rgba(69, 214, 240, 0.671)
  );
  height: 28vh;
}

.jumbotron .profileImage {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  /* margin-top: 7%; */
  border: 5px solid white;
}
