.page {
  overflow: auto;
  height: 100vh;
}

.column {
  padding: 0px;
}

.page button:hover {
  background-color: #afe6f0;
}

.page button:active {
  background-color: #a0cdd4;
}

.page button:focus {
  box-shadow: none;
}

.jumbotronProfile {
  background-image: linear-gradient(
    to bottom right,
    rgba(88, 86, 206, 0.829),
    rgb(118, 166, 177)
  );
  /* height: 37%; */
  border-radius: 0%;
  text-align: center;
  padding: 25px 0px;
  margin-bottom: 0px;
}
